*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    

    



}
.hidden{
    display: none;
}

 

/* common css */


.common-btn{
    color: #FFF;
    font-size: 1.25em;
    font-weight: 600;
    padding: 1.26rem 2.5rem;
    border: 0;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
/* nav area styles */



.nav-area{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width:1440px ;
    width: 96%;
    padding: 30px 0px;
    margin: 0 auto;
}
.logo-area{
    display: flex;
    gap: 1.25rem;
    align-items: center;
    font-size: 16px;
}
.logo-text{
    color: #0B0223;
    font-size: 2.8em;
    font-weight: 700;
    line-height: 3.8rem;
}
.menu-area ul{
    display: flex;
    list-style:none ;
    gap: 2rem;
    align-items: center;
}
.menu-area ul li {
    color: #3C354F;
    font-size: 1.05rem;
    font-weight: 500;
}
.menu-area ul li a{
    color: #3C354F;
    font-size: 1.05rem;
    font-weight: 500;
    text-decoration: none;
}

.nav-btn-container{
    border-radius: 8px;
    padding:1rem 2rem ;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    align-items: center;

}

.yt-btn,.tiktok-btn{
    border: 0;
   background-color:transparent ;
   margin: 0.5rem;
}
.yt-btn i{
    color: red;
    font-size:1.5rem ;
   
}
.tiktok-btn i{
    font-size: 1.5rem;
    color: #0B0223;

}





/* banner section styles */
.banner-main-container{
  
    background: url("../images/Group 14.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    max-width: 1920px;
    margin:0 auto ;
}
.banner-container{
    display: flex;

    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    width: 96%;
    margin: 0 auto;
    
}

.banner-content{
    font-size: 16px;
}


.banner-heading1{
    color: #0B0223;
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;

}
.banner-heading2{
    font-size: 5.93em;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.5rem;

}
.banner-p{
    color: #534C64;
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom:1.25rem ;
}
.banner-buttons{
    display: flex;
    gap: 3rem;
    margin-top:2.5rem ;
}
.banner-btn{
    color: #FFF;
    font-size: 1.25em;
    font-weight: 600;
    padding: 1.26rem 2.5rem;
    border: 0;
    border-radius: 48px;
    background:#4EC5F7;
}


/* we are gamer section */

.we-are-gamer{
    max-width:1920px ;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.we-are-gamer-container{
    max-width: 1440px;
    margin: 0 auto;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.we-are-gamer-content{
    margin: 5.93rem 0;

    font-size: 16px;
    text-align: right;
}

.we--gamer-heading1{
    font-size: 3em;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.5rem;


    
}
.we--gamer-p1{
    color: #534C64;
    font-size: 1.12rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.87rem; 
    margin-bottom: 1.5em;
}
.we--gamer-p2{
    margin: 1.5rem 0;
    color: #534C64;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 500;
}
.we--gamer-heading2{
    color: #534C64;
    font-size: 2em;
    font-weight: 700;

}


/* online games section */

.online-games-container{
    font-size: 16px;
    text-align: center;
    margin: 7.5rem auto;
}

.online-games-heading{
    color: #0B0223;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 2rem;
}
.different-h3{
    font-size: 1em;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.card-container{
    display: grid;
    gap: 1.5rem;
    margin-top:4rem ;
    justify-content: center;
    grid-template-columns: repeat(4,21.3rem);
}
.card-box p{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.9rem;
    margin-top: 2rem;

}
.card-box img{
    width: 100%;
}


/* play instantly section */
.overlay-image{
    height:50% ;}

.play-instantly-container{
    display: flex;
    gap: 7.5rem;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.play-instantly-content{
    display: flex;
    gap: 2rem;
    font-size: 16px;
    flex-direction: column;
    text-align: right;
}
.play-instantly-image{
    max-width: 784px;
    position:relative;
    

}

.main-image{
   
    width: 100%;
}


.overlay-image{
    position: absolute;
   
    left: -15%;
    bottom: -10%;
    
}


.types-of-games-section{
    max-width: 1920px;
    margin:0 auto;
    padding: 4rem 0;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}


.types-of-games{
    
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 94%;
    min-height: 200px;
    margin: 6rem auto;
    padding-bottom: 30px;
    align-items: center;
    flex-wrap: wrap;
    font-size: 16px;
    

    
}
.games-name{
    max-width:300px ;
    display: flex;
    align-items: center;
    padding: 0.6rem 1.3rem ;
    border-radius: 50px;
    background: #FFF;
    color: #0B0223;
    margin: 0 auto;
    border: 2px solid #FFF;
    
  
}
.games-name:hover{
    border: 2px solid #F948B2;
    color: #F948B2;
    cursor: pointer;

}

.games-name p{

font-size: 1.25em;
font-weight: 600;
}
.games-name img{
    margin-right: 0.7rem;
    max-width: 50px;
    width: 100%;
}

/* footer */



.footer-section{
    background: #0B0223;
    text-align: center;
    align-items: center;
    color: white;
    padding: 60px 50px;

    font-size: 16px;
}
.header-icons{
    margin: 0 auto;
}
.footer-title{
    color: white;
}
.footer-topics{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 66px;
    margin-bottom: 66px;
}
.social-icons-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 74px;
}
.all-types-conditions{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 18px;

}
.copyright{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 18px;
}
.icon2{
    color: white;
    font-size: 3em;

}
.footer-title{
    display: flex;
    align-items: center;
    justify-content: center;
}






/* alien word */

.alien-word{
    color: #FF42A5;
}

/* media queri for smaller device */
@media screen and (max-width:576px) {
   

    .nav-container,.menu-area ul,.we-are-gamer-container
    ,.play-instantly-container{
        flex-direction: column;
        gap:2rem ;
    }
   .banner-container{
    flex-direction: column-reverse;
    gap: 4rem;
    justify-content: center;
   
   }
   .play-instantly-content{
    text-align: center;
   }
   .banner-content, .we-are-gamer-content,.online-games-container
   ,.logo-area,.play-instantly-content
   ,.types-of-games,.footer-section{
    font-size:10px; 
    text-align: center;
   }
   .banner-buttons{
    gap: 1rem;
   }
   

   .banner-image,.we-are-gamer-content{
    padding: 1rem;
   }
   .banner-main-container{
    width: 100vw;
    background-size: 100% auto;
    
   }

   .we-are-gamer,.play-instantly-container
   ,.types-of-games
   ,.types-of-games-section{
    width: 100vw;
   }
   .we-are-gamer-content{
       margin: 0;
   }
   .we-are-gamer-image img{
    width:100% ;
}
.card-container{
    grid-template-columns:20rem;
}
.play-instantly-image{
    width: 70%;
}
.types-of-games img{
   width: 30px;
}
.types-of-games{
    padding: 0.3rem;
}
.types-of-games-section{



    padding:0 ;
}
.footer-topics
,.all-types-conditions{
    gap: 40px;
    flex-wrap: wrap;
    
}
.social-icons-links{
    gap: 20px;
}


    
}

